@charset "utf-8";

ol, ul, li {list-style: none;}
blockquote, q {	quotes: none;}
blockquote:before,blockquote:after,q:before,q:after{content: '';content: none;}
table{border-collapse: collapse;border-spacing:0;}
img{border:0;max-width:100%}
