<extend name="Public/base" />
<block name="body" >
<!--main-->
<div class="wrap_w">
	<div class="crumbs"><em>当前位置：</em><a href="{:U('Index/index')}" target="_blank">溪谷游戏</a><span> &gt; </span>
  <a href="{:U('Service/index')}">客服中心</a>&gt; 充值问题</div>
  <div id="service">
    <div id="ser_sub" class="clearfix">
      <div id="l">
        <ul>
			
			<li><a href="{:U('Service/spwd')}" >密码问题</a></li>
			<li><a href="{:U('Service/spay')}" style="color:#186DC3;">充值问题</a></li>
			<li><a href="{:U('Service/saccont')}">账户问题</a></li>
			<li><a href="{:U('Service/sgift')}">礼包问题</a></li>
			<li><a href="{:U('Service/sother')}">其他问题</a></li>
        </ul>
      </div>
      <div id="r">
        <h4>充值问题</h4>
		<ul>
        	<!-- <foreach name="plist_data" item="ld">
        	<li>
				<div class="q"><em>?</em>{$ld.sName}<a name="{$ld.id}"></a></div>
				<div class="a">{$ld.sContent}</div>
			</li>
		  </foreach> -->
		  <li>
            <div class="q"><em>•</em>支付宝/网银/微信充值扣费了，没到帐怎么办？<a name="54"></a></div>
            <div class="a"><p><span style=";font-family:微软雅黑;color:rgb(128,128,128);font-size:16px">&nbsp; &nbsp; <span style="font-family: 微软雅黑; color: rgb(128, 128, 128); font-size: 14px;">&nbsp; 亲爱的玩家：您好!充值未能即时到账，可能是因为充值延迟所造成，如果较长时间仍未到帐，建议您到我们安<span style="color: rgb(128, 128, 128); font-family: 微软雅黑;">锋</span>游戏官网联系在线QQ客服，提供相关账号信息以及扣费截图进行查询，感谢您对梦创游戏平台的支持，祝您游戏愉快!</span></span><a href="" style="font-family: 微软雅黑; color: rgb(128, 128, 128); font-size: 14px; text-decoration: underline;"><span style="font-family: 微软雅黑; color: rgb(128, 128, 128); font-size: 14px;"></span></a></p><p><br></p></div>
          </li>
			          <li>
            <div class="q"><em>•</em>充值后没有给奖励<a name="53"></a></div>
            <div class="a"><p><span style=";font-family:微软雅黑;color:rgb(128,128,128);font-size:16px">&nbsp; &nbsp; &nbsp; 亲爱的玩家：您好!请您确认您充值的时间是否在活动时间内，充值的金额是否符合活动要求。若还有疑问，请拨打我们的客服电话：{:C('MT_SITE_TEL')}进行咨询，或者到我们梦创游戏平台官网联系在线QQ客服反馈。</span></p><p><br></p></div>
          </li>
			          <li>
            <div class="q"><em>•</em>点击充值无反应<a name="52"></a></div>
            <div class="a"><p><span style="font-family: 微软雅黑; color: rgb(128, 128, 128); font-size: 14px;">&nbsp; &nbsp; &nbsp; &nbsp;亲爱的玩家：您好!建议您可以先清除游戏数据的缓存，并确保网络良好后再进行充值。如果仍然无法充值，请到我们梦创游戏官网重新下载安装游戏，在尝试充值。</span></p><p><br></p></div>
          </li>
			          <li>
            <div class="q"><em>•</em>充值后缺少道具、金币、钻石、元宝，怎么办?<a name="51"></a></div>
            <div class="a"><p><span style="font-size: 14px; font-family: 微软雅黑, &#39;Microsoft YaHei&#39;;">　　<span style="font-size: 14px; color: rgb(128, 128, 128);">亲爱的玩家：您好!建议您到我们安峰游戏官网客服中心联系在线客服，提供相关账号信息和充值信息进行查询。</span></span></p><p><br></p></div>
          </li>
			          <li>
            <div class="q"><em>•</em>如何在游戏中进行充值？<a name="50"></a></div>
            <div class="a"><p><span style="font-family: 微软雅黑; color: rgb(128, 128, 128); font-size: 14px;">&nbsp; &nbsp; &nbsp; 亲爱的玩家：您好!在游戏的主界面中有“充值”选项(部分在“商城”中)点击进入金额选择界面，选择金额和支付方式后进入付费界面。</span></p></div>
          </li>
			          <li>
            <div class="q"><em>•</em>Q币能充值游戏吗?<a name="49"></a></div>
            <div class="a"><p><span style="font-size: 14px;">　<span style="font-family: 微软雅黑; color: rgb(128, 128, 128);">　亲爱的玩家：您好!目前梦创游戏不支持Q币充值，请您登录我们的充值中心，选择适合您的充值方式进行充值。感谢您对梦<span style="color: rgb(128, 128, 128); font-family: 微软雅黑;">创</span>游戏平台的支持，祝您游戏愉快!</span></span></p><p><br></p></div>
          </li>
			          <li>
            <div class="q"><em>•</em>手机话费是否可以充值?<a name="48"></a></div>
            <div class="a"><p><span style="font-family: &#39;Times New Roman&#39;; color: rgb(51, 51, 51); font-size: 14px;"></span></p><p><span style="font-family: 微软雅黑, &#39;Microsoft YaHei&#39;; color: rgb(128, 128, 128); font-size: 14px;">&nbsp; &nbsp; &nbsp; &nbsp;亲爱的玩家：您好!目前梦创游戏暂不支持使用手机话费进行充值，您可以使用电话卡(联通、移动、电信)进行充值。</span></p><p><span style="font-family: &#39;Times New Roman&#39;; color: rgb(51, 51, 51); font-size: 14px;"></span></p></div>
          </li>
			          <li>
            <div class="q"><em>•</em>在充值返利活动中，你们平台为什么要在平台官方网站上充值F币才行，直充不行？<a name="46"></a></div>
            <div class="a"><p><span style="font-size:15px;font-family:&#39;微软雅黑&#39;,&#39;sans-serif&#39;">您好，因为返利是我们平台币哦，不是游戏的返利呢，所以在游戏内直充是不能参与活动的。</span></p></div>
          </li>
			          <li>
            <div class="q"><em>•</em>我想用充值卡进行充值，但是我游戏里充值的数额和充值卡上的不匹配，一卡不能多用，该怎么办？<a name="45"></a></div>
            <div class="a"><p style="line-height:15px"><span style="font-family:&#39;微软雅黑&#39;,&#39;sans-serif&#39;">您好，可以充值未</span>F<span style="font-family:&#39;微软雅黑&#39;,&#39;sans-serif&#39;">币以后使用</span>F<span style="font-family:&#39;微软雅黑&#39;,&#39;sans-serif&#39;">币支付哦。</span>F<span style="font-family:&#39;微软雅黑&#39;,&#39;sans-serif&#39;">币是可以输入金额的。</span></p><p><br></p></div>
          </li>
			          <li>
            <div class="q"><em>•</em>为什么我用充值卡充值，输入卡号和密码后，提示我说“此渠道暂未开通”，我该怎么办？<a name="44"></a></div>
            <div class="a"><p style="line-height:15px"><span style="font-family:&#39;微软雅黑&#39;,&#39;sans-serif&#39;">您好，我们目前不支持使用充值卡进行充值哦</span></p><p><br></p></div>
          </li>
			          <li>
            <div class="q"><em>•</em>我不小心点错了，但没付款，导致消费记录里面显示“支付中”，该怎么办？会扣费吗？<a name="43"></a></div>
            <div class="a"><p style="line-height:15px"><span style="font-family:&#39;微软雅黑&#39;,&#39;sans-serif&#39;">您好，没有完成支付是不会扣费的。</span></p><p><br></p></div>
          </li>
			          <li>
            <div class="q"><em>•</em>我想在游戏里面充值，但我不知道怎么充值，具体步骤是什么？<a name="42"></a></div>
            <div class="a"><p style="line-height:15px"><span style="font-family:&#39;微软雅黑&#39;,&#39;sans-serif&#39;">您好，点击游戏内悬浮图标，选择账户，点击</span>F<span style="font-family:&#39;微软雅黑&#39;,&#39;sans-serif&#39;">币处的充值按步骤完成支付即可。</span>F<span style="font-family:&#39;微软雅黑&#39;,&#39;sans-serif&#39;">币可以在游戏内用于支付，支付流程是选择游戏内的游戏币，点击跳转到支付页面，选择</span>F<span style="font-family:&#39;微软雅黑&#39;,&#39;sans-serif&#39;">币支付即可。</span></p><p><br></p></div>
          </li>
			          <li>
            <div class="q"><em>•</em>如何取消支付宝快速支付？<a name="28"></a></div>
            <div class="a"><p><span style="color: rgb(85, 85, 85); font-family: Tahoma, Helvetica, Arial, &#39;microsoft yahei&#39;, &#39;Microsoft Yahei&#39;, sans-serif; font-size: 14px; line-height: 25.2000007629395px; text-indent: 28px; background-color: rgb(255, 255, 255);">您好!您可以进入浏览器，选择“工具”-“清除记录”，再选择“Cookies”，即可取消。您好!</span></p></div>
          </li>
			          <li>
            <div class="q"><em>•</em>先玩后付用不了?<a name="24"></a></div>
            <div class="a"><p style="margin: 10px auto; padding: 0px; word-wrap: break-word; text-indent: 2em; line-height: 1.8; color: rgb(85, 85, 85); font-family: Tahoma, Helvetica, Arial, &#39;microsoft yahei&#39;, &#39;Microsoft Yahei&#39;, sans-serif; font-size: 14px; white-space: normal; background-color: rgb(255, 255, 255);">亲爱的玩家您好，如果不能在7天内登入mo9官网进行还款，您的手机号码、手机设备、游戏账号均不能再次享受先玩后付服务;如果您在支付页面未看到“先玩后付”按键，说明此游戏暂时还未开通此支付方式。</p><p style="margin: 10px auto; padding: 0px; word-wrap: break-word; text-indent: 2em; line-height: 1.8; color: rgb(85, 85, 85); font-family: Tahoma, Helvetica, Arial, &#39;microsoft yahei&#39;, &#39;Microsoft Yahei&#39;, sans-serif; font-size: 14px; white-space: normal; background-color: rgb(255, 255, 255);">先玩后付是一种“个人信誉”和“移动支付”的结合方式，即允许玩家仅凭自己的手机号，就可以先享受游戏，之后再还款。</p><p><br></p></div>
          </li>
			          <li>
            <div class="q"><em>•</em>支付宝/银行卡充值失败了，钱会扣除吗?<a name="25"></a></div>
            <div class="a"><p style="margin: 10px auto; padding: 0px; word-wrap: break-word; text-indent: 2em; line-height: 1.8; color: rgb(85, 85, 85); font-family: Tahoma, Helvetica, Arial, &#39;microsoft yahei&#39;, &#39;Microsoft Yahei&#39;, sans-serif; font-size: 14px; white-space: normal; background-color: rgb(255, 255, 255);">您好，充值失败一般是不会扣除您的钱的。但如果出现充值失败钱也扣除情况，请马上联系客服，客服会为您核实处理的。客服联系电话：{:C('MT_SITE_TEL')} </p><p style="margin: 10px auto; padding: 0px; word-wrap: break-word; text-indent: 2em; line-height: 1.8; color: rgb(85, 85, 85); font-family: Tahoma, Helvetica, Arial, &#39;microsoft yahei&#39;, &#39;Microsoft Yahei&#39;, sans-serif; font-size: 14px; white-space: normal; background-color: rgb(255, 255, 255);">温馨提示：一般出现充值失败有可能是游戏厂商内部更新问题，小编建议采取人工充值。</p><p><br></p></div>
          </li>
			          <li>
            <div class="q"><em>•</em>扣费成功但没收到游戏币，怎么办?<a name="17"></a></div>
            <div class="a"><p><span style="font-family: 微软雅黑; color: rgb(128, 128, 128); font-size: 14px;">&nbsp; &nbsp; &nbsp; &nbsp;亲爱的玩家：您好!如果您支付完成扣款成功，但您的游戏账号里没有收到游戏币，这时可能是由于网络延迟而造成的，请您耐心等待几分钟即可!如果较长时间仍未到帐，可能是系统出现问题，这时候您可以联系【在线客服】提交给我们的客服进行处理。</span><span style="color: rgb(128, 128, 128); font-family: 微软雅黑; font-size: 14px;">感谢您对梦创游戏平台的支持，祝您游戏愉快</span><span style="color: rgb(128, 128, 128); font-family: 微软雅黑; font-size: 14px;">!</span></p><p><span style="color: rgb(128, 128, 128); font-family: 微软雅黑; font-size: 14px;">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;客服电话：{:C('MT_SITE_TEL')}</span><br><span style="font-family: 微软雅黑; color: rgb(128, 128, 128); font-size: 14px;"></span></p></div>
          </li>
			          <li>
            <div class="q"><em>•</em>如何选择合适的充值方式?<a name="15"></a></div>
            <div class="a"><p>如果您拥有支付宝帐号，我们建议您采用支付宝方式支付;</p><p>如果您开通了网上银行，我们建议您采用网银充值;</p><p>如果您开通了网上银行，我们建议您采用微信支付；</p><p>如果您周围有网吧、软件专卖店、零售点等商店，您可以购买话费充值卡，盛大、骏网卡、征途卡等进行充值;</p><p>注：可以点击人工服务，进行人工充值，省心省力态度好。</p><p><br></p></div>
          </li>
			          <li>
            <div class="q"><em>•</em>充值中心提供了哪些充值方式?<a name="14"></a></div>
            <div class="a"><p><span style=";font-family:&#39;Times New Roman&#39;;color:rgb(128,128,128);font-size:12px"></span></p><p><span style="font-family: 微软雅黑; color: rgb(128, 128, 128); font-size: 14px;">&nbsp; &nbsp; &nbsp; &nbsp;亲爱的玩家：您好!梦创游戏为您提供快捷、便利、多样化的充值方式，具体如下：微信支付、支付宝、银行卡、先玩后付、人工充值(联系在线客服)，电话卡(联通、移动、电信)，充值卡(骏网一卡通、盛大一卡通、网易一卡通、征途一卡通、搜狐一卡通、完美一卡通、久游一卡通、QQ币充值卡、光宇一卡通)。感谢您对游戏平台的支持，祝您游戏愉快!</span></p><p><span style="font-family: &#39;Times New Roman&#39;; color: rgb(128, 128, 128); font-size: 12px;"></span><br></p><p><br></p></div>
          </li>
		</ul>
		<div class="page">
			{$_page|default=''}
		</div>
      </div>
    </div>
  </div>
</div>
</block>