<extend name="Public/bases" />
<block name="body" >
<link href="__CSS__/platform.css" rel="stylesheet" />
<div class="title_bg"><div class="title_t"><span>搜索结果</span></div></div>
<div class="wrap clear-fix m60">
	<div class="left fl">
		<div class="loading" id="search_loading" style="display: none;">加载中...</div>
		<empty name="kw">
		<div id="noresult">搜索无相关结果</div>
		<div class="search_t" style="margin-top: 20px; opacity: 1;">热门游戏推荐</div>		
		<else />
		<div class="search_t" style="margin-top: 20px; opacity: 1;">搜索<span id="keyword">{$kw}</span>总共找到<span id="search_num">{$count}</span>个相关结果</div>			
		</empty>
		<div class="search_c" id="search_result" style="margin-top: 20px; opacity: 1;">
			<foreach name="result" item="vo">
			<div class="result">
				<div class="result_icon">
					<a target="_blank" href="">
						<img src="{$vo.icon|get_cover='path'}">
					</a>
				</div>
				<div class="result_msg">
					<a target="_blank" href="" class="result_game">{$vo.game_name}</a>
					<div class="result_info">
						<span>{:get_game_type($vo['game_type'])}</span>
						<span>{$vo.game_size}M</span>
						<span>{$vo.dow_num}次</span>
					</div>
					<div class="result_button">
						<a target="_blank" href="{$vo.and_dow_address}">下载</a>
						<a target="_blank" href="{:U('Gift/lists?id='.$vo['id'])}">礼包</a>
					</div>
				</div>
			</div>
			</foreach>
		</div>
	</div>
	<div class="hot_box fr">
		<div class="hot_new_wrap">
			<div class="hot_new_box_t">热门资讯</div>
			<div class="hot_new_box">
				<ul>
					<foreach name="news" item="vo">
					<li>
						<span></span>
						<a target="_blank" href="{:U('News/detail?id='.$vo['id'])}">《{$vo.title}》</a>
					</li>
					</foreach>
				</ul>
			</div>
		</div>
		<div class="hot_game_wrap">
			<div class="hot_game_box_t">热门游戏榜</div>
			<div class="hot_game_box">
				<foreach name="hot" item="vo">
				<dl class="<if condition='$key eq 0'>active</if>">
					<dt class="num_box no{$key+1}">{$key+1}</dt>
					<dd class="game_img">
						<a target="_blank" href="" title="{$vo.game_name}">
							<img src="{$vo.icon|get_cover='path'}" alt="{$vo.game_name}">
						</a>
					</dd>
					<dd class="game_info">
						<div class="game_info_t">
							<a target="_blank" href="">{$vo.game_name}</a>
						</div>
						<div class="game_info_i">
							<span>{:get_game_type($vo['game_type'])}</span>
							<span>|</span>
							<span>{$vo.game_size}M</span>
						</div>
					</dd>
				</dl>
				</foreach>
			</div>
		</div>
	</div>
</div>
<script>
	$('.hot_game_box dl').hover(function(){
		$(this).addClass('active');
		$(this).siblings().removeClass('active');
	});
</script>
</block>