<extend name="Public/bases" />
<block name="body" >
<link href="__CSS__/platform.css" rel="stylesheet" />
<div class="title_bg">
  <div class="title_t"><span>新闻资讯</span></div>
</div>
<div class="wrap clear-fix m60">
  <div class="article fl">
	<div class="article_title">{$data.title}</div>
	<div class="article_time">{$data.update_time|date='Y-m-d',###}</div>
	<div class="article_content">
		{$data.content}
	</div>
	<div class="turn_page clear-fix">
		<span class="prev">上一篇：
			<a href="{:U('News/detail?id='.$prev['id'])}">{$prev['title']}</a>
			<empty name="prev">没有了</empty>
		</span>
		<span class="next">下一篇：
			<a href="{:U('News/detail?id='.$next['id'])}">{$next['title']}</a>
			<empty name="next">没有了</empty>
		</span>
	</div>
  </div>
  <div class="hot_box fr">
    <div class="hot_new_wrap">
			<div class="hot_new_box_t">热门资讯</div>
			<div class="hot_new_box">
				<ul>
					<foreach name="news" item="vo">
					<li>
						<span></span>
						<a target="_blank" href="{:U('News/detail?id='.$vo['id'])}">《{$vo.title}》</a>
					</li>
					</foreach>
				</ul>
			</div>
		</div>
		<div class="hot_game_wrap">
			<div class="hot_game_box_t">热门游戏榜</div>
			<div class="hot_game_box">
				<foreach name="hot" item="vo">
				<dl class="<if condition='$key eq 0'>active</if>">
					<dt class="num_box no{$key+1}">{$key+1}</dt>
					<dd class="game_img">
						<a target="_blank" href="" title="{$vo.game_name}">
							<img src="{$vo.icon|get_cover='path'}" alt="{$vo.game_name}">
						</a>
					</dd>
					<dd class="game_info">
						<div class="game_info_t">
							<a target="_blank" href="">{$vo.game_name}</a>
						</div>
						<div class="game_info_i">
							<span>{:get_game_type($vo['game_type'])}</span>
							<span>|</span>
							<span>{$vo.game_size}M</span>
						</div>
					</dd>
				</dl>
				</foreach>
			</div>
		</div>
  </div>
</div>
<script>
	$('.hot_game_box dl').hover(function(){
		$(this).addClass('active');
		$(this).siblings().removeClass('active');
	});
</script>
<div class="clear"></div>
</block>