<!-- 边栏 -->
<div class="sidebar">
    <!-- 子导航 -->
    <div id="subnav" class="subnav">
    <!-- 子导航 -->
    <h3><i class="icon icon-unfold"></i>用户管理</h3>                        
    <ul class="side-sub-menu">
        <li>
            <a class="item" href="/admin.php?s=/User/index.html">用户信息</a>
        </li>
        <li>
            <a class="item" href="/admin.php?s=/AuthManager/index.html">权限管理</a>
        </li>                        
    </ul>                    <!-- /子导航 --><!-- 子导航 -->
    <h3><i class="icon icon-unfold"></i>行为管理</h3>                        
    <ul class="side-sub-menu">
        <li>
            <a class="item" href="/admin.php?s=/User/action.html">用户行为</a>
        </li>
        <li>
            <a class="item" href="/admin.php?s=/Action/actionlog.html">行为日志</a>
        </li>                        
    </ul>                    
    </ul>                    
    <!-- /子导航 -->            
    </div>
    <!-- /子导航 -->
</div>
<!-- /边栏 -->