<extend name="Public/base"/>

<block name="body">
<!-- 标题栏 -->
    <div class="main-title">
        <h2>[游戏明细] 汇总</h2>
    </div>
    <div class="cf top_nav_list">
        <div class="fl button_list">
        <empty name="model.extend">
            <div class="tools">
                <a class="btn payway" href="{:U('pay_way?type=4')}">全 部</a>
                <a class="btn payway" href="{:U('pay_way?type=0')}">本 月</a>
                <a class="btn payway" href="{:U('pay_way?type=1')}">上 月</a>
                <a class="btn payway" href="{:U('pay_way?type=2')}">本 周</a>
                <a class="btn payway" href="{:U('pay_way?type=3')}">上 周</a>
            </div>
        </empty>
        </div>
        <!-- 高级搜索 -->
        <!-- <div class="search-form fr cf">
            <div class="btn-group-click adv-sch-pannel fl">
                <button class="btn">高 级<i class="btn-arrowdown"></i></button>
                <div class="dropdown cf">
                    <div class="row">
                        <label>时间：</label>
                        <input type="text" id="time-start" name="StartTime" class="text input-2x" value="" placeholder="起始时间" /> -                     
                        <div class="input-append date" id="datetimepicker"  style="display:inline-block">
                            <input type="text" id="time-end" name="LastTime" class="text input-2x" value="" placeholder="结束时间" />
                            <span class="add-on"><i class="icon-th"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>


    <!-- 数据列表 -->
    <div class="data-table">
        <div class="data-table table-striped">
            <table>
                <!-- 表头 -->
                <thead>
                    <tr><th colspan="5" class="tabtit">系统支付数据|银行账户数据</th></tr>
                    <tr>
                      <th></th><th>平台币</th><th>微信</th><th>支付宝</th><th>总计</th>
                    </tr>
                </thead>
                <!-- 列表 -->
                <tbody>
                    <volist name="list_data" id="data">
                    <tr>
                        <td>{$data.PayTime}</td>
                        <td>{:sprintf("%.2f",$data['alipay'])}元</td>
                        <td>{:sprintf("%.2f",$data['wxpay'])}元</td>
                        <td>{:sprintf("%.2f",$data['pintai'])}元</td>
                        <td>{:sprintf("%.2f",$data['total'])}元</td>
                    </tr>
                    </volist>
                    <tr class="taball">
                        <td>总计</td>  
                        <td>{:sprintf("%.2f",$alipay_total)}元</td>
                        <td>{:sprintf("%.2f",$weixin_total)}元</td>
                        <td>{:sprintf("%.2f",$pintai_total)}元</td>
                        <td>{:sprintf("%.2f",$total)}元</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="page">
           
    </div>

        </div>
</block>

<block name="script">
<script type="text/javascript">
//导航高亮
highlight_subnav('{:U('Stat/pay_way')}');
</script>
</block>
