<extend name="Public/bases" />
<block name="body">
<div class="reg_list">
	<div class="reg_form rule section">
			<h2>最终用户协议</h2>
            <p>您在溪谷游戏进行注册时，须提供真实、有效的身份识别资料，并应在前述资料发生变更时，及时于溪谷游戏网进行线上更新。若您所提供的资料与事实不符或所提供的资料业已变更而未更新或有任何误导之嫌而导致溪谷游戏无法为您提供或继续提供服务的，您应自行承担由此引发的损失而与溪谷游戏无关。</p>
            <p> 您须了解和认可，溪谷游戏账号的使用权仅归属于原始注册人。未经溪谷游戏的事先书面同意，您不得以任何形式将自身溪谷游戏账号及密码转让、赠予、出借、售卖予第三方或者以其他方式许可非初始注册人对其进行使用，否则溪谷游戏有权封禁、删除该账号。如您并非当前所使用溪谷游戏账号的原始注册人，您应立即停止对该账号的一切使用及操作，同时溪谷游戏有权依原始注册人之请求或依自身判断将该账号重新交予原始注册人使用，由此引发的全部责任及损失与溪谷游戏无关。
                您有义务妥善保管在注册时获得的账号及密码，如因黑客、第三人行为或您自身保管疏忽导致账号、密码遭他人非法使用并给您造成损失的，溪谷游戏就此不承担任何责任。</p>
            <p> 如您发现自身账号遭他人非法使用或有异常使用的情形，应立即通知溪谷游戏，并提供与原始注册人相一致的个人有效身份信息。溪谷游戏在核实您所提供的个人有效身份信息后，将尽可能为您维护自身合法权利提供必要协助，但溪谷游戏并不承诺您一定能通过该途径找回溪谷游戏账号。</p>

	</div>
</div>
</block>
