<extend name="Public/bases" />
<block name="body" >
<link href="__CSS__/service.css" rel="stylesheet" />

<div class="service-banner">
	<div class="service-banner-wrap">
		<div class="service-btn-wrap">
			<a class="service-btn" id="BizQQWPA"></a>
			<a href="" class="question-btn"></a>
		</div>
	</div>
</div>
<div class="service-content">
	<div class="service-wrap">
		<div class="pay-box">
			<div class="pay-mask">
				<div class="pay-t">
					<i class="pay-icon"></i>
					<a href="{:U('pay')}">充值问题</a>
				</div>
			</div>
			<div class="service-c">
				<ul>
					<li><a target="_blank" href="{:U('pay?#12761')}" title="充值卡充值未到账自助查询">充值卡充值未到账自助查询</a></li>
					<li><a target="_blank" href="{:U('pay?#11554')}" title="充值超出限额怎么办？">充值超出限额怎么办？</a></li>
					<li><a target="_blank" href="{:U('pay?#11345')}" title="如何把钱包余额充值到游戏中？">如何把钱包余额充值到游戏中？</a></li>
					<li><a target="_blank" href="{:U('pay?#11344')}" title="如何通过网页版充值中心充值到钱包？">如何通过网页版充值中心充值到钱包？</a></li>
					<li><a target="_blank" href="{:U('pay?#11343')}" title="如何在游戏中充值到钱包？">如何在游戏中充值到钱包？</a></li>
				</ul>
			</div>
		</div>
		<div class="account-box">
			<div class="account-mask">
				<div class="account-t">
					<i class="account-icon"></i>
					<a href="/service/account/">帐号问题</a>
				</div>
			</div>
			<div class="service-c"><ul>
				<li><a target="_blank" href="{:U('account?#12764')}" title="怎么进行帐号人工充值？">怎么进行帐号人工充值？</a></li>
				<li><a target="_blank" href="{:U('account?#11559')}" title="可以进入游戏却不知道密码怎么办？">可以进入游戏却不知道密码怎么办？</a></li>
				<li><a target="_blank" href="{:U('account?#11558')}" title="如何找回37手游帐号?">如何找回37手游帐号?</a></li>
				</ul>
			</div>
		</div>
		<div class="game-box"><div class="game-mask"><div class="game-t">
			<i class="game-icon"></i>
			<a href="/service/game/">游戏问题</a></div></div>
			<div class="service-c"><ul>
				<li><a target="_blank" href="{:U('game?#12762')}" title="手机游戏无法登录怎么办？">手机游戏无法登录怎么办？</a></li>
				<li><a target="_blank" href="{:U('game?#12760')}" title="充值成功未到账的原因？">充值成功未到账的原因？</a></li>
				<li><a target="_blank" href="{:U('game?#11347')}" title="安卓手机如何清理缓存？">安卓手机如何清理缓存？</a></li>
				<li><a target="_blank" href="{:U('game?#11346')}" title="手机如何截图？">手机如何截图？</a></li></ul></div>
		</div>
	</div>
</div>
</block>