<extend name="Public/promote_base"/>

<block name="body">
    <div id="query">
        <div id="search" class="mod">
          <h2>查询</h2>
          <form action="{:U('Query/register')}" method="post" enctype="multipart/form-data">
            <ol>
              <li class="user">
                <input type="text" name="account" id="account" placeholder="请输入用户名" value="{:I('account')}">
              </li>
              <li class="other clearfix">
                <div class="l">
                  <select name="game_appid" id="game_id" style="width:80px;">
                    <option value="0">全部游戏</option>
                    <volist name=":get_game_list()" id ="s">
                    <option value="{$s.game_appid}">{$s.game_name}</option>
                  </volist>
                  </select>
                </div>
                <div class="l2">
                  <select name="promote_id" id="subid" style="width:90px;">
                    <option value="0">全部子账号</option>
                    <option value="{:PROMOTE_ID}">自己</option>
                    <volist name=":get_prmoote_chlid_account(PROMOTE_ID)" id ="s">
                      <option value="{$s.id}">{$s.account}</option>
                    </volist>
                  </select>
                </div>
                <div class="m"><em>开始时间：</em><span class="required">*</span>
                  <input type="text" id="sdate" name="time-start" value="">
                </div>
                <div class="r"><em>结束时间：</em><span class="required">*</span>
                  <input type="text" id="edate" name="time-end" value="">
                </div>
                <div class="search_btn">
                  <input type="submit" value="查询">
                </div>
              </li>
            </ol>
          </form>
        </div>
        <div id="total_reg" class="mod">
          <h2>注册明细</h2>
          <div class="con">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <thead>
              <tr>
                <th>ID</th>
                <th>用户名</th>
                <th>注册日期</th>
                <th>注册IP</th>
                <th>推广人员</th>            
              </tr> </thead>
              <tbody>
      			  <volist name="list_data" id="vo">
                <tr>
                  <td>{$vo.id}</td>
                  <td>{$vo.account}</td>
                  <td>{$vo.register_time|date='Y-m-d H:i:s',###}</td>
                  <td>{$vo.register_ip}</td>
                  <td>{$vo['promote_account']}{:get_parent_promote($vo['promote_id'])}</td>
                </tr>
      			  </volist>
				      </tbody>
            </table>
            <!-- <div class="import"><span><a href="{:U('Admin/Recharge/expUser',array('id'=>16))}" >导出数据(excel格式)</a></span></div> -->
          </div>
                  </div>
      </div>
    </div>
<link rel="stylesheet" type="text/css" href="__CSS__/p_jquery.datetimepicker.css">
<script type="text/javascript" src="__JS__/jquery.datetimepicker.js"></script>
<script type="text/javascript">
$().ready(function(){
 $('#sdate').datetimepicker({
    lang:'ch',
    format:'Y-m-d',
    formatDate:'Y-m-d',
    timepicker:false
  });
  
  $('#edate').datetimepicker({
    lang:'ch',
    format:'Y-m-d',
    formatDate:'Y-m-d',
    timepicker:false
  });
});
</script>
</block>
  