<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

    <head>

        <meta charset="utf-8">
        <title>溪谷软件后台登录-vlcms.com</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- CSS -->
     
        <link rel="stylesheet" href="__CSS__/reset.css">
        <link rel="stylesheet" href="__CSS__/supersized.css">
        <link rel="stylesheet" href="__CSS__/login_new.css">


    </head>

    <body class="loginbg">

        <div class="loginbk">
            <h1 class="titbg">溪谷软件管理系统</h1>
            <form action="{:U('login')}" method="post">
                <input type="text" name="username" class="username" placeholder="用户名">
                <input type="password" name="password" class="password" placeholder="密码">
                <button type="submit">登　　录</button>
                <div class="error"><span>+</span></div>
            </form>
        
        </div>
    

        <!-- Javascript -->

    </body>

</html>

