<extend name="Public/base"/>

<block name="sidebar"></block>

<block name="style">
    <style>
        body{padding: 0}
    </style>
</block>
<block name="body">
<link rel="stylesheet" href="__CSS__/kendo.dataviz.min.css" />
<link rel="stylesheet" href="__CSS__/kendo.default.min.css" />
<link rel="stylesheet" href="__CSS__/kendo.rtl.min.css" />
<script src="__JS__/kendo.dataviz.min.js"></script>
<script src="__JS__/kendo.timezones.min.js"></script>
    <!-- 主体 -->
    <div id="indexMain" class="index-main">
       <!-- 插件块 -->
       <div class="container-span aiwrap">{:hook('AdminIndex')}</div>
       
    </div>
</block>

<block name="script">
<script type="text/javascript">
    /* 插件块关闭操作 */
    $(".title-opt .wm-slide").each(function(){
        $(this).click(function(){
            $(this).closest(".columns-mod").find(".bd").toggle();
            $(this).find("i").toggleClass("mod-up");
        });
    })
    $(function(){
        // $('#main').attr({'id': 'indexMain','class': 'index-main'});
        $('.copyright').html('<div class="copyright"> &copy;2013-2016 徐州梦创信息科技有限公司版权所有</div>');
        $('.sidebar').remove();
    })
</script>
</block>