<extend name="Public/subbases" />
<block name="body" >
<link href="__CSS__/safe.css" rel="stylesheet" />
<link href="__CSS__/set.css" rel="stylesheet" />
<div class="m-user-safe m-user-center-content">
	<div class="user-center-title"><h2>帐号安全</h2></div>
	<div class="user-secure-index" id="user-secure-index">
		<div class="m-score clear-fix">
			<span class="desc">安全评分</span>
			<div class="sc">
				<span class="sc_i" style="width:{$safescore}%"></span>		
			</div>
			<script></script>
			<span class="score-val">{$safescore}分!</span>
		</div>
		<div class="safe-tips with-no-one-setting">
		<if condition="$safenum gt 0">
			<p class="fir"><i class="warning"></i>有<span class="org">{$safenum}项</span>密保安全设置未完成，马上进行</p>
			<p><i class="warning"></i>您的帐号未设置任何保密措施，不能进行密码修改，请您先进行帐号安全措施设置。</p>
		<else />
			<p class="tips">你已完成密保设置</p>
		</if>
		</div>
		<div class="safe-item safe-item-e doing">
			<div class="content">
				<i class="item-deco email"></i>
				<span class="sub-title">绑定邮箱：</span>
				<div class="with-no-bind">
					<empty name="up.email">				
					<a href="javascript:;" class="btn-bind btnbind" data-change="1" data-redirect="e">绑定邮箱</a>
					<i class="error"></i>
					<div class="bind-desc">
						<p>未绑定</p>
						<p>用于忘记密码或帐号被盗时快速重置密码</p>
					</div>
					<else />
					<a href="javascript:;" class="btn-bind btnbind" data-redirect="e">重置邮箱</a>
					<i class="correct"></i>
					<div class="bind-desc">
						<p>状态：已绑定&nbsp;邮箱：{$up.email}</p>
						<p>用于忘记密码或帐号被盗时快速重置密码</p>
					</div>
					</empty>
				</div>
			</div>
		</div>
		<div class="safe-item safe-item-p doing">
			<div class="content">
				<i class="item-deco phone"></i>
				<span class="sub-title">绑定手机：</span>
				<div class="with-no-bind">
					<empty name="up.phone">
					<a href="javascript:;" class="btn-bind btnbind" data-change="2" data-redirect="p">设置手机</a>
					<i class="error"></i>
					<div class="bind-desc">
						<p>未绑定</p>
						<p>用于密码修改时短信提示和密码遗失时重置密码</p>
					</div>
					<else />
					<a href="javascript:;" class="btn-bind btnbind" data-redirect="p">重置手机</a>
					<i class="correct"></i>
					<div class="bind-desc">
						<p>状态：已绑定&nbsp;手机：{$up.phone}</p>
						<p>用于密码修改时短信提示和密码遗失时重置密码</p>
					</div>
					</empty>
				</div>
			</div>
		</div>
		<div class="safe-item safe-item-i doing">
			<div class="content">
				<i class="item-deco id"></i>
				<span class="sub-title">绑定证件：</span>
				<div class="with-no-bind">
					<if condition="($up.real_name neq '' ) and ($up.idcard neq '')">
					<a href="javascript:;" class="btn-bind btnbind" data-alert="已经设置证件信息" >已设置</a>
					<i class="correct"></i>
					<div class="bind-desc">
						<p>状态：已设置&nbsp;姓名：{$up.real_name}&nbsp;身份证：{$up.idcard}</p>
						<p>用于帐号归属确认以及防沉迷验证，一旦设置，则无法更改</p>
					</div>
					<else />
					<a href="javascript:;" class="btn-bind btnbind" data-change="3" data-redirect="i">设置证件</a>
					<i class="error"></i>
					<div class="bind-desc">
						<p>未设置</p>
						<p>用于帐号归属确认以及防沉迷验证，一旦设置，则无法更改</p>
					</div>
					</if>
				</div>
			</div>
		</div>
		<div class="all-in-one-tip">*如出现其他帐号安全异常问题，请<a href="{:U('Service/index')}" target="_blank">联系客服</a>.</div>
	</div>
	
	<div class="user-secure hide" id="user-secure">
		<div class="user-secure-title">
			<i class="user-secure-ico "></i>
			<span class="user-secure-tag"></span>
		</div>
		<ul class="user-step ">
			<li class="focus"><span>1</span>密码验证</li>
			<li><span>2</span>设置密保</li>
		</ul>
		<div class="user-secure-setting user-form user-secure-protect" id="user-password-verify">
			<if condition="$up.phone neq '' ">
			<p id="s-secure-changetype" class="user-secure-changetype hide" >
				<label>验证方式：</label>
				<select style="display: none;">
					<option value="phone">密保手机</option>
				</select>
				<span class="sq-selectmenu">
					<input class="sq-selectmenu-input" type="text" style="width: 248px;">
					<a href="javascript:;" class="sq-selectmenu-btn" tabindex="-1"></a>
				</span>
			</p>
			<div id="phone" class="user-secure-type animated-show hide">
				<p class="wrap-acc hide"><label>您的帐号：</label><span class="account"></span></p>
				<p>
					<label for="save_code1">验证码：</label>
					<input data-rule="required,code" data-message="请输入验证码,验证码无效" data-view="noright" name="save_code" id="save_code1" class="text short" type="text">
					<img src="__MODULE__/Subscriber/verify" width="66" height="30" title="点击换一张" alt="验证码">
				</p>
				<p>
					<label>您的手机号码：</label><span class="j-target">{$up.phone}</span>
				</p>
				<p><label for="">　</label><a href="#" data-role="phone" class="btn-code-send btn-eee">点击发送</a></p>
				<p>
					<label for="code1">短信验证码：</label><input data-rule="required,num" data-message="请输入短信验证码,短信验证码无效" name="code" data-view="noright" id="code1" class="text short" type="text">
				</p>
				<p class="wrap-btn wrap-single-btn"><a data-order="1" href="javascript:;" class="btn-yellow-140">下一步</a><a href="javascript:;" data-step="0" class="not-button" style="display:none;">上一步</a></p>
				<p class="wrap-text"><a href="" target="_blank" title="忘记密保？进行帐号修复！" class="blue">忘记密保？进行帐号修复！</a></p>
			</div>
			<elseif condition="$up.email neq '' " />
			<p id="s-secure-changetype" class="user-secure-changetype hide" >
				<label>验证方式：</label>
				<select style="display: none;">
					<option value="phone">密保邮箱</option>
				</select>
				<span class="sq-selectmenu">
					<input class="sq-selectmenu-input" type="text" style="width: 248px;">
					<a href="javascript:;" class="sq-selectmenu-btn" tabindex="-1"></a>
				</span>
			</p>
			<div id="mail" class="user-secure-type animated-show hide">
				<div id="mail-set" class="">
					<p class="wrap-acc hide"><label>您的帐号：</label><span class="account">{$up.email}</span></p>
					<p>
						<label for="">您的密保邮箱：</label><span class="f14 j-target"></span>
					</p>
					<p>
						<label for="save_code2">验证码：</label>
						<input name="save_code" id="save_code2" data-rule="required,code" data-message="请输入验证码,验证码无效" data-view="noright" class="text short" type="text">
						<img src="__MODULE__/Subscriber/verify" title="点击换一张" width="66" height="30" alt="验证码">
					</p>
					<p class="wrap-btn wrap-single-btn"><a data-order="email" href="javascript:;" class="btn-yellow-140">验证</a><a href="javascript:;" data-step="0" class="not-button" style="display:none;">上一步</a></p>
					<p class="wrap-text"><a href="" target="_blank" title="忘记密保？进行帐号修复！" class="blue">忘记密保？进行帐号修复！</a></p>
					<p class="wrap-text">如没收到邮件，请检查邮箱的反垃圾设置，并到垃圾邮箱查看是否收到。</p>
				</div>
				<div id="mail-result" class="mail-result hide">
					<p class="user-s-setted-mail-account wrap-text" style="font-size:16px;">验证邮件已发送至您的邮箱： <span id="mail-result-account" class="orange">loading...</span></p>
					<p class="wrap-text">请您尽快登录邮箱，按邮件中指示完成验证</p>
					<p class="wrap-btn wrap-single-btn"><a id="mail-btn-url" target="_blank" class="btn-yellow-140" href="javascript:;">登录邮箱</a></p>
					<p class="user-s-setted-mail-tip wrap-text">提示：系统已经向该邮箱发送了一封验证激活邮件，请查收邮件，并进行激活。如果没有收到验证邮件，请检查邮箱的反垃圾设置，并到垃圾邮箱查看是否收到，或者更换一个邮箱重新验证。</p>
					<p class="wrap-btn wrap-single-btn"><a id="mail-btn-reset" class="btn-resend btn-eee disabled" href="javascript:;">再次验证</a></p>
				</div>
			</div>	
			<else />
			<div class="user-secure-panel" id="user-secure-checkpassword">
				<div id="check-set" class="js-unset">
					<p class="txt">为了您的帐号安全，请在设置前验证您的登录密码！</p>
					<p><label for="checkpassword"><span class="red">*</span>　登录密码</label>
					<input data-rule="required,password" data-message="请输入登录密码,密码输入有误" data-view="noright" id="checkpassword" name="checkpassword" type="password" class="text">
					</p>
					<p class="wrap-btn">
						<a id="tj-checkpassword" class="btn-yellow-140" href="javascript:;" title="验证密码">验证密码</a>
					</p>
				</div>
			</div>			
			</if>
		</div>
		<div class="user-secure-setting user-form user-secure-protect hide" id="user-secure-setting" >
			<div class="user-secure-panel hide" id="user-secure-email" data-action="verify_mail_code" data-set="1" >
				<div id="email-set" class="js-unset ">
					<p class="txt">注意：密保邮箱是用户找回帐号密码的重要手段，请认真填写并谨记！</p>
					<p>
						<label for="email"><span class="red">*</span>　输入邮箱</label>
						<input data-rule="required,email" data-message="请输入邮箱" id="email-input" name="email" type="text" class="text" autocomplete="off">
					</p>
					<p class="wrap-btn"><a data-role="email" id="tj-mail-code" class="btn-yellow-140" href="javascript:;">验证邮箱</a></p>
					<p> </p><p> </p><p> </p><p> </p>
				</div>
				<div id="email-result" class="user-s-setted hide">
					<p class="txt f16">验证邮件已发送至您的邮箱： </p>
					<p class="txt">请您尽快登录邮箱，按邮件中指示完成验证</p>
					<p class="txt b-btn" ><a id="email-btn-url" target="_blank" class="btn-yellow-140" href="javascript:;" title="登录邮箱">登录邮箱</a></p>
					<p class="txt">提示：系统已经向该邮箱发送了一封验证激活邮件，请查收邮件，并进行激活。</p>
					<p class="txt">如果没有收到验证邮件，请检查邮箱的反垃圾设置<a style="color:#f00;font-weight:bold;" id="howset" title="如何设置反垃圾设置">(如何设置？)</a></p>
					<p class="txt">并到垃圾邮箱查看是否收到，或者更换一个邮箱重新验证。</p>
					<p class="txt"><a id="email-btn-reset" class="btn-resend btn-eee disabled" href="javascript:;" title="再次验证">106秒后重新验证</a></p>
				</div>
				<div id="mail-binded" class="user-s-setted hide">
					<p> </p>
					<p class="txt f16">您的帐号已设置密保邮箱</p>
					<p class="txt f16">邮箱帐号：</p>
					<p class="txt">
						<a class="btn-back " href="/userprotect.php" title="返回">返回</a>
						<a class="blue " target="_blank" href="forgetpwd/reset.php#mail" title="修改邮箱">修改邮箱</a>
					</p>
				</div>
			</div>
			
			<div class="user-secure-panel hide" id="user-secure-phone" data-action="verify_phone_code" data-set="2">
				<div id="phone-set" class="js-unset">
					<p class="txt">注意：绑定手机后可用于找回密码、接收帐号异常信息提醒等！</p>
					<p>
						<label for="phone-input"><span class="red">*</span>　手机号码</label>
						<input data-rule="required,phone" data-message="请输入手机号码" id="phone-input" name="phone" type="text" class="text setting">
					</p>
					<p>
						<label for="">　</label>
						<a data-role="phone" id="tj-phone-code" href="javascript:;" class="btn-code-send btn-eee" title="发送验证码">点击发送</a>　　一天只能获取三次验证码
					</p>
													<p>
						<label for="code2"><span class="red">*</span>　短信验证码</label>
						<input data-rule="required,num" data-message="输入的验证码无效" data-view="noright" id="code2" name="code" type="text" class="text setting"></p>
					<p class="wrap-btn"><a id="tj-phone" class="btn-yellow-140 btn-s-setting" href="javascript:;">确&nbsp;&nbsp;定</a></p>
					<p class="txt">如果没有收到短信，您可以检查手机号是否正确并尝试重新发送验证码。</p>
				</div>
				<div class="user-s-setted hide">
					<p> </p>
					<p class="txt">您的帐号已设置密保手机</p>
					<p class="txt"><a class="btn-back " href="{:U('safe')}" title="返回">返回</a>
					<a class="blue " target="_blank" href="http://my.37.com/forgetpwd/reset.php#phone" title="修改手机">修改手机</a></p>
				</div>
				<div class="user-s-setted hide">
					<p> </p>
					<p class="txt f16">您的帐号已设置密保手机</p>
					<p class="txt f16">手机号码：</p>
					<p class="txt"><a class="btn-back " href="{:U('safe')}" title="返回">返回</a>
					<a class="blue " target="_blank" href="http://my.37.com/forgetpwd/reset.php#phone" title="修改手机">修改手机</a></p>
				</div>
			</div>
			
			<div class="user-secure-panel hide" id="user-secure-idcard" data-action="updateinfo">
				<div class="js-unset">
					<div class="ac user-secure-text">
						<p class="txt txt-info">注意：您未填写防沉迷信息，按国家相关规定被纳入防沉迷系统。</p>
						<p class="txt txt-info">建议您马上填写防沉迷信息，以更好地获得网络服务。</p>
						<p class="txt txt-info red">此帐号的身份证信息只能填写一次，是判断帐号归属的重要依据。</p>
					</div>
					<p>
						<label for="name"><span class="red">*</span>　姓名</label>
						<input data-rule="required,hanzi" data-message="请输入真实姓名,请输入真实姓名" id="real_name" name="real_name" type="text" class="text setting">
					</p>
					<p>
						<label for="idcard"><span class="red">*</span>　身份证号</label>
						<input data-rule="required,card" data-message="请输入身份证号,输入的身份证号无效" id="idcard" name="idcard" type="text" class="text setting">
					</p>
					<p class="wrap-btn"><a id="tj-name" class="btn-yellow-140 btn-s-setting" href="javascript:;">确&nbsp;&nbsp;定</a></p>
				</div>
				<div class="user-s-setted hide">
					<p> </p>
					<p class="txt f16">您已通过防沉迷认证</p>
					<p class="txt">
						<a class="btn-back " href="{:U('safe')}" title="返回">返回</a>
						<a class="blue " target="_blank" href="{:U('profile')}">添加更多信息</a>
					</p>
				</div>
				<div class="user-s-setted hide">
					<p> </p>
					<p class="txt f16">您已通过防沉迷认证</p>
					<p class="txt f16">姓名：{$up.real_name}</p>
					<p class="txt f16">身份证号：{$up.idcard}</p>
					<p class="txt">
						<a class="btn-back " href="{:U('safe')}" title="返回">返回</a>
					</p>
				</div>
			</div>
		</div>
	</div>	
</div>
<!-- <div class="popcode hide">
	<div class="m-mask"></div>
	<div class="m-box ">
		<a href="javascript:;" id="popcodeclose" class="popclose">X</a>
		<div class="notice">
			<div class="title">温馨提示</div>
			<div class="content">
				<div class="subcontent">
					<div class="savecode-dialog-content comm-form">
						<p class="savecode-title">
							<label for="save_code">请输入验证码：</label>
						</p>
						<p>
							<input type="text" maxlength="4" data-default="请输入图片中的4位验证码" name="save_code" id="save_code" class="inp-txt v-code error save_code" data-message="请填写正确验证码">
							<img title="点击刷新验证" class="code-img fl checkcode" id="phone-img" onclick="this.src='__MODULE__/Subscriber/verify/t/342143'" src="__MODULE__/Subscriber/verify" > </img>
						</p>
						<p id="savecode-msg" class="savecode-msg"></p>
					</div>
				</div>
			</div>
			<div class="bottom">
				<a class="btn" id="send" href="javascript:;" data-name="发送短信">发送短信</a>
			</div>
		</div>
	</div>
</div> -->
<script src="__JS__/pop.js"></script>
<script>
$(function() {
	$('.btnbind').on('click',function() {
		var jthat = $(this),change = jthat.data('change'),
			redirect = jthat.data('redirect'),
			aler = jthat.data('alert');
		if (change) {
			jthat.attr('href','#'+change).addClass('setted');
			$('#user-secure-index').addClass('hide');
			$('#user-secure').show();
			switch(change) {
				case 1: {
					$('.user-secure-ico').addClass('ico-u-mail-big');
					$('.user-secure-tag').text('密保邮箱：');
				};break;
				case 2: {
					$('.user-secure-ico').addClass('ico-u-phone-big');
					$('.user-secure-tag').text('密保手机：');
				};break;
				case 3: {
					$('.user-secure-ico').addClass('ico-u-mail-big');
					$('.user-secure-tag').text('证件信息：');
					$('.user-step').addClass('hide');
					$('#user-password-verify').hide();
					$('#user-secure-setting').show();
					$('#user-secure-idcard').show();
				};break;
				default:
					window.location.reload();
			}
		}
		if (aler) {
			pop('温馨提示',aler,{ok:'确定'},true);
		}
	});
	
	// 实名
	$('#real_name').on('blur keypress',function() {
		var jthat = $(this),val = $.trim(jthat.val());
		jthat.siblings('.field-error-message').remove();
		if (val == ''){jthat.after('<span class="field-error-message">请输入真实姓名</span>');return;}
		if (!(/[\u4E00-\u9FA5]{2,7}/g.test(val))) {jthat.after('<span class="field-error-message">输入的真实姓名无效</span>');return;}
	});
	$('#idcard').on('blur keypress',function() {
		var jthat = $(this),val = $.trim(jthat.val());
		jthat.siblings('.field-error-message').remove();
		if (val == ''){jthat.after('<span class="field-error-message">请输入身份证号</span>');return;}
		if (!checkidcard(val)) {jthat.after('<span class="field-error-message">输入的身份证号无效</span>');return;}
		
	});
	$('#tj-name').on('click',function() {
		var jreal = $('#real_name'),jidcard = $('#idcard'),
		real = $.trim(jreal.val()),idcard=$.trim(jidcard.val());
		jreal.siblings('.field-error-message').remove();
		jidcard.siblings('.field-error-message').remove();
		if (real == ''){jreal.after('<span class="field-error-message">请输入真实姓名</span>');return false;}
		if (!(/[\u4E00-\u9FA5]{2,7}/g.test(real))) {jreal.after('<span class="field-error-message">输入的真实姓名无效</span>');return false;}
		if (idcard == ''){jidcard.after('<span class="field-error-message">请输入身份证号</span>');return false;}
		if (!checkidcard(idcard)) {jidcard.after('<span class="field-error-message">输入的身份证号无效</span>');return false;}
		pop('提示','正在验证，稍等……');
		setTimeout(function() {
			var action = $.trim($('#user-secure-idcard').data('action'));
			ajaxpost('__CONTROLLER__/'+action,{realname:real,idcard:idcard},function(data) {
				$('.pop').remove();
				if (parseInt(data.status) == 1) {
					pop('',data.info,{ok:'确定'},true);
					$('#user-secure-idcard .js-unset').hide();
					$('#user-secure-idcard .user-s-setted:first').show();
				} else {
					pop('',data.info,{ok:'确定'},true);
				}
			});
		},1000);		
	});
	
	// pwd
	$('#checkpassword').on('blur keypress',function() {
		$(this).siblings('.field-error-message').remove();
		var val = $.trim($(this).val());
		if (val == ''){$(this).after('<span class="field-error-message">请输入登录密码</span>');return;}
		if (val.length<6 || val.length>30 ) {$(this).after('<span class="field-error-message">密码输入有误</span>');return;}
	});
	$('#tj-checkpassword').on('click',function() {
		jcheck = $('#checkpassword');
		var val = $.trim(jcheck.val());
		if (val == '') { jcheck.after('<span class="field-error-message">请输入登录密码</span>');return false;}
		if (val.length<6 || val.length>30 ) { jcheck.after('<span class="field-error-message">密码输入有误</span>');return false;}
		pop('提示','正在验证，稍等……','');
		setTimeout(function() {
			var index = $('.btnbind.setted[href^="#"]').data('change');
			ajaxpost('__CONTROLLER__/checkpassword',{password:val,type:index},function(data) {
				$('.pop').remove();
				if (parseInt(data.status) == 1) {
					if (parseInt(data.type) != index) {
						window.location.reload();
					} 
					$('#user-password-verify').hide();
					$('#user-secure-setting').show();
					$('.user-step li:last').addClass('focus').siblings().removeClass('focus');												
					if (index == 1) {
						$('#user-secure-email').show();
					} else if (index == 2) {
						$('#user-secure-phone').show();
					} else window.location.reload();
				} else {
					pop('',data.info,{ok:'确定'},true);
				}
			});
		},1000);
	});	
	
	// email
	$('#email-input').on('blur keypress',function() {
		$(this).siblings('.field-error-message').remove();
		var val = $.trim($(this).val());
		if (val == ''){$(this).after('<span class="field-error-message">请输入邮箱</span>');return;}
		if (!(/^[A-Za-z\d]+([-_.][A-Za-z\d]+)*@([A-Za-z\d]+[-.])+[A-Za-z\d]{2,5}$/.test(val))) {$(this).after('<span class="field-error-message">输入无效的邮箱</span>');return;}
	});
	$('#tj-mail-code').on('click',function() {
		$check = $('#email-input');
		var val = $.trim($check.val());
		if (val == ''){ $check.after('<span class="field-error-message">请输入邮箱</span>');return false;}
		if (!(/^[A-Za-z\d]+([-_.][A-Za-z\d]+)*@([A-Za-z\d]+[-.])+[A-Za-z\d]{2,5}$/.test(val))) { $check.after('<span class="field-error-message">输入无效的邮箱</span>');return false;}
		pop('提示','处理中...','');
		setTimeout(function() {
			var action= $.trim($('#user-secure-email').data('action'));
			ajaxpost('__CONTROLLER__/sendemail',{email:val,action:action},function(data) {
				$('.pop').remove();
				if (parseInt(data.status) == 1) {
					$('#user-password-verify').hide();
					$('#user-secure-setting').show();
					$('#user-secure-email').show();
					$('#email-set').hide();
					$('#email-result').show().find('.f16').append('<span id="email-result-account" class="red">'+data.email+'</span>');
					$('#email-btn-url').attr('href',data.emailurl).closest('.b-btn').show();
					var ebr = 111,si = setInterval(function() {
						ebr--;
						if (ebr == 0) {
							clearInterval(si);
							$('#email-btn-reset').text('重新验证').removeClass('disabled').on('click',function() {
								window.location.reload();
							});
						} else
							$('#email-btn-reset').text(ebr+'秒后重新验证');
					},1000);
					$('.user-step li:last').addClass('focus').siblings().removeClass('focus');
				} else {
					pop('',data.info,{ok:'确定'},true);
				}
			});
		},1000);		
	});
	
	//phone
	$('#phone-input').on('blur keypress',function() {
		var jphone = $(this),val = $.trim(jphone.val());
		jphone.siblings('.field-error-message').remove();
		if (val == ''){jphone.after('<span class="field-error-message">请输入手机号码</span>');return;}
		if (!(/^[1][358][0-9]{9}/.test(val))) {jphone.after('<span class="field-error-message">输入无效的手机号码</span>');return;}
	});
	var phonecodenum=3;
	$('#tj-phone-code').on('click',function() {
		var jphone = $('#phone-input'),val = $.trim(jphone.val());
		jphone.siblings('.field-error-message').remove();
		if (val == ''){jphone.after('<span class="field-error-message">请输入手机号码</span>');return false;}
		if (!(/^[1][358][0-9]{9}/.test(val))) {jphone.after('<span class="field-error-message">输入无效的手机号码</span>');return false;}
		pop('温馨提示','<div class="savecode-dialog-content comm-form">'
        +'<p class="savecode-title"><label for="save_code">请输入验证码：</label></p>'
        +'<p><input type="text" maxlength="4" data-default="请输入图片中的4位验证码" name="save_code" id="save_code" class="inp-txt v-code error save_code" data-message="请填写正确验证码">'
		+'<img title="点击刷新验证" class="code-img fl" id="phone-img" src="__MODULE__/Subscriber/verify" width="65" height="36"></p>'
        +'<p id="savecode-msg" class="savecode-msg"></p>'
    +'</div>',function(){
			bottom = '<a class="sq-dialog-btn btn btn-s-1 btn-s-140" id="send" href="javascript:;" data-name="发送短信">发送短信</a>';
			return bottom;
		},true);
		$('#phone-img').on('click',function() {
			var imgsrc ='__MODULE__/Subscriber/verify/'+(new Date().getTime());
            $(this).attr('src',imgsrc);
		});
		
        
		
	});
    
    /*$('.popcode').show();
    $('#popcodeclose').on('click',function() {
        $('.popcode').hide();
    });*/
	
});
</script>
</block>