<extend name="Public/bases" />
<block name="body" >
<link href="__CSS__/service.css" rel="stylesheet" />
<link href="__CSS__/platform.css" rel="stylesheet" />
<div class="crumbs-box m20">
	<div class="crumbs">
		<a href="{:U('pay')}" class="">充值问题</a>
		<a href="{:U('account')}" class="active">帐号问题</a>
		<a href="{:U('game')}" class="">游戏问题</a>
	</div>
</div>

<div class="wrap"><div class="service-list-box"><div class="service-list"><a name="12764"></a><h2>怎么进行帐号人工充值？</h2><div><p>因对公账户查询手续较为繁琐，我们会在半个工作日内为您处理汇款，有不便之处请您谅解。由于银行方面的结算制度，会使人工汇款有可能出现延迟到帐。下面我们为大家列出几种可能会出现延迟到帐的情况： 1.跨行汇款，例如：从工商银行汇款到农业银行的账户;2.跨地区汇款，例如：从上海汇到广州;3.非银行结算时间段汇款，例如：周末或下午17:00以后；以上情况只是有可能会出现延迟，并非100%出现。请各位朋友汇款后及时联系我们的客服人员，我们会在第一时间为您充值。温馨提示：目前溪谷手游暂不接收公司账户给我们的汇款。</p><p><br></p></div></div><div class="service-list"><a name="11559"></a><h2>可以进入游戏却不知道密码怎么办？</h2><div><p>　　进入游戏-点击洋葱头-帐号切换</p><p>　　密码旁边有个小眼睛的图标-点击图标就会显示密码了。</p></div></div><div class="service-list"><a name="11558"></a><h2>如何找回溪谷手游帐号?</h2><div><p>　　发送邮件到：kf@xigu.com<mailto:kf@xigu.com></mailto:kf@xigu.com></p><p>　　邮件标题：溪谷游戏找回帐号-XXX（角色名）</p><p>　　所在游戏：　　角色名：　　服务器：　　注册时间：　　手机型号：（填写注册时用的手机型号）　　注册所在城市：</p><p>　　移动设备号：（手机拨号键盘输入*#06#会自动显示手机设备号）　　充值记录：（需提供充值金额，日期及支付方式）　　问题描述：</p><p><br></p></div></div><div class="pagination"></div></div></div>
</block>