<extend name="Public/bases" />

<block name="body" >

<link href="../__CSS__/service.css" rel="stylesheet" />



<div class="service-banner">

	<div class="service-banner-wrap">

		<div class="service-btn-wrap">

        <div class="kfrw"></div>

        <div class="ser_tit"></div>

          <ul class="ser_li"><li><a><i class="ser_ic01"></i><span>在线咨询</span></a></li>

          <li><a><i class="ser_ic02"></i><span>游戏问题</span></a></li>

          <li><a><i class="ser_ic03"></i><span>账号问题</span></a></li>

          <li><a><i class="ser_ic04"></i><span>充值问题</span></a></li></ul>

		</div>

	</div>

</div>

<div class="service-content">

<div class="service-wrap">

       <div class="cjwt">

       <div class="m-subtitle-bar"> <a href="#" target="_self" class="more">更多+</a>

          <h2> <a href="#" target="_self">常见问题</a> </h2>

        </div>

       <div class="service-c">

				<ul>

					<li><a target="_self" href="{:U('pay?#12761')}" title="充值卡充值未到账自助查询">充值卡充值未到账自助查询</a></li>

					<li><a target="_self" href="{:U('pay?#11554')}" title="充值超出限额怎么办？">充值超出限额怎么办？</a></li>

					<li><a target="_self" href="{:U('pay?#11345')}" title="如何把钱包余额充值到游戏中？">如何把钱包余额充值到游戏中？</a></li>

					<li><a target="_self" href="{:U('pay?#11344')}" title="如何通过网页版充值中心充值到钱包？">如何通过网页版充值中心充值到钱包？</a></li>

					<li><a target="_self" href="{:U('pay?#11343')}" title="如何在游戏中充值到钱包？">如何在游戏中充值到钱包？</a></li>

                    <li><a target="_self" href="{:U('account?#12764')}" title="怎么进行帐号人工充值？">怎么进行帐号人工充值？</a></li>

				<li><a target="_self" href="{:U('account?#11559')}" title="可以进入游戏却不知道密码怎么办？">可以进入游戏却不知道密码怎么办？</a></li>

				<li><a target="_self" href="{:U('account?#11558')}" title="如何找回溪谷手游帐号?">如何找回溪谷手游帐号?</a></li>

                <li><a target="_self" href="{:U('game?#12762')}" title="手机游戏无法登录怎么办？">手机游戏无法登录怎么办？</a></li>

				<li><a target="_self" href="{:U('game?#12760')}" title="充值成功未到账的原因？">充值成功未到账的原因？</a></li>

				<li><a target="_self" href="{:U('game?#11347')}" title="安卓手机如何清理缓存？">安卓手机如何清理缓存？</a></li>

				<li><a target="_self" href="{:U('game?#11346')}" title="手机如何截图？">手机如何截图？</a></li>

				</ul>

			</div>

       </div>

    

	</div>





	

</div>

</block>