<extend name="Public/abases" />
<block name="body" >
  <link href="__CSS__/platform.css" rel="stylesheet" >
<div class="title_bg">
  <div class="title_t"><span>溪谷游戏简介</span></div>
</div>
<div class="wrap clear-fix m60">
  <div class="page_content">
    <p style="line-height: 2em;"><span style="font-family: 微软雅黑, &#39;Microsoft YaHei&#39;;">　　溪谷游戏是37游戏旗下移动游戏运营平台。</span></p>
    <p><br>
    </p>
    <p style="line-height: 2em;"><span style="font-family: 微软雅黑, &#39;Microsoft YaHei&#39;;">　　2013年6月，在经过一年的观察和准备后，溪谷游戏正式成立。7月，顺利引进第一款产品，同年12月成功运营40余款手游。2014年3月溪谷游戏宣布推出MAX4计划，加强投入手游市场，深得玩家支持和业界人士的关注。</span></p>
    <p><br>
    </p>
    <p style="line-height: 2em;"><span style="font-family: 微软雅黑, &#39;Microsoft YaHei&#39;;">　　2015年溪谷游戏已运营近300款游戏，大力引进了千万级的《霸道天下》《苍翼之刃》《天将雄师》等多款手游大作，致力于为玩家提供更多精品游戏。</span></p>
    <p style="line-height: 2em;"><span style="font-family: 微软雅黑, &#39;Microsoft YaHei&#39;;">　　未来，溪谷游戏将继续坚持精品化运营理念，以移动游戏为核心打造精品游戏，继续推进泛娱乐产业布局，打造全球领先的游戏平台！</span></p>
    <p><br>
    </p>
    <p><br>
    </p>
    <p style="line-height: 2em;"><span style="font-family: 微软雅黑, &#39;Microsoft YaHei&#39;;"><strong>游戏产品：</strong></span></p>
    <p style="line-height: 2em;"><span style="font-family: 微软雅黑, &#39;Microsoft YaHei&#39;;"><strong>&nbsp;冒险之光</strong></span></p>
    <p style="line-height: 2em;"><span style="font-family: 微软雅黑, &#39;Microsoft YaHei&#39;;">　　《冒险之光》是一款Q萌横版冒险动作手游，继承了经典冒险类游戏的许多优秀玩法以图还原给玩家最原汁原味的激斗体验。&nbsp;</span></p>
    <p style="line-height: 2em;"><span style="font-family: 微软雅黑, &#39;Microsoft YaHei&#39;;"><strong>&nbsp;霸道天下</strong></span></p>
    <p style="line-height: 2em;"><span style="font-family: 微软雅黑, &#39;Microsoft YaHei&#39;;">　　《霸道天下》是一款基于Unity3D引擎制作的3D.真即时动作RPG游戏，技术上有着革新意义的突破以打造行云流水之动作感受，可采用新型单手操控模式，也可坚持经典传统操控，众享真正的酷爽体验！&nbsp;</span></p>
    <p style="line-height: 2em;"><span style="font-family: 微软雅黑, &#39;Microsoft YaHei&#39;;"><strong>&nbsp;少年魔兽团</strong></span></p>
    <p style="line-height: 2em;"><span style="font-family: 微软雅黑, &#39;Microsoft YaHei&#39;;">　　《少年魔兽团》是一款S-ARPG革新微操手游。游戏在玩家熟识的魔幻史诗题材基础上，抛弃传统的卡牌站桩对抗玩法，创新性加入战前布阵、战中自由走位放技能的微操作，完美融合了史诗的经典与操作的创新。</span></p>
    <p style="line-height: 2em;"><span style="font-family: 微软雅黑, &#39;Microsoft YaHei&#39;;"><strong>&nbsp;苍翼之刃</strong></span></p>
    <p style="line-height: 2em;"><span style="font-family: 微软雅黑, &#39;Microsoft YaHei&#39;;">　　《苍翼之刃》（全称：BlazBlue Revolution Reburning）是一款革新性的2D横版格斗手游,本作延续了《苍翼默示录》系列的超一流品质，全方位保留了原作的2D精致画面、纯正格斗要素、豪华日本声优阵容和艺术级影音制作水准等精华。</span></p>
    <p style="line-height: 2em;"><span style="font-family: 微软雅黑, &#39;Microsoft YaHei&#39;;"><strong>&nbsp;天将雄师</strong></span></p>
    <p style="line-height: 2em;"><span style="font-family: 微软雅黑, &#39;Microsoft YaHei&#39;;">　　《天将雄师》 重交互，重谋略，重契机，重决策！独有即时国战SLG系统，统战定夺天下，王者谋略自在心中。万人听从差遣，万人同屏斗智。这就是不一样的国战，这就是不一样的SLG，这就是成龙都喜欢的手游！</span></p>
    <p style="line-height: 2em;"><span style="font-family: 微软雅黑, &#39;Microsoft YaHei&#39;;"><strong>&nbsp;热血仙境</strong></span></p>
    <p style="line-height: 2em;"><span style="font-family: 微软雅黑, &#39;Microsoft YaHei&#39;;">　　《热血仙境》由溪谷游戏携手地瓜网络打造的精品大作次世代玄幻3D动作类手机网游，媲美端游大作的超精美场景、终极华丽的技能特效、酣畅淋漓的打斗动作给你好看！刺激多样的副本玩法、震撼给力的打击快感、独创特殊的超多玩法给你好玩！</span></p>
    <p style="line-height: 2em;"><br>
    </p>
    <p style="line-height: 2em;"><span style="font-family: 微软雅黑, &#39;Microsoft YaHei&#39;;"><br>
      </span></p>
  </div>
</div>
</block>