<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>{:C('MT_SITE_TITLE')}</title>
<meta name="viewport" content="width=device-width, initial-scale=0.3, maximum-scale=2.0, minimum-scale=0.1, user-scalable=yes">
<meta http-equiv="pragma" content="no-cache">
<meta name="Keywords" content="">
<meta name="description" content="">
<link rel="stylesheet" charset="UTF-8" href="__CSS__/pay.css" type="text/css">
<script type="text/javascript" src="__JS__/jquery.js" charset="UTF-8"></script>
<script type="text/javascript" src="__JS__/common.js" charset="UTF-8"></script>
<script type="text/javascript" src="__JS__/pay.js" charset="UTF-8"></script>
</head>
<body>
<script type="text/javascript">
    // document.domain = "37.com";
    $(function(){
        g_form_data.pay_for='';
        g_form_data.app_id='';
        g_form_data.sid='';
        g_form_data.pay_id='12';
        g_form_data.username='';
        if ( g_form_data.pay_id ) {
            $('.left_li').removeClass('left_li_state_on');
            $('#left_' + g_form_data.pay_id).addClass('left_li_state_on');
        }
        
        if( g_form_data.app_id ){
            get_server_list('',g_form_data.sid);
        }
        if( g_form_data.pay_for ){
            select_pay_for(g_form_data.pay_for);
        }
        set_money_list('12');
        $("[name='username']").val(g_form_data.username);
    })
</script>

<div class="bg">
    <!--头部开始-->
    <div class="header"> <a href="{:U('Index/index')}" class="logo" target="_blank"><img src="{$logo}" alt="" width="154" height="55"></a>
        <div class="header_title"><a href="#">充值中心</a></div>
        <!--
            <div class="header_content">您好，请 <a class="a" onclick="login();">[登录]</a> 或<a href="http://www.37.com/users/register.php" target="_blank">[注册]</a></div>
            <a href="" class="header_service" target="_blank"></a> --> 
    </div>
    <!--头部结束-->
    <div class="wrap">
		<ul class="left" id="left_menu" style="margin-top:50px;">
			<li class="left_li left_li_state_on" id="left_12"><span class="left_li_span">
				<a data-id="1">网银支付</a></span></li>
			<li class="left_li" id="left_7"><span class="left_li_span">
				<a data-id="2">微信支付</a></span></li>
			<li class="left_li" id="left_11"><span class="left_li_span">
				<a data-id="3">支付宝余额支付</a></span></li>
		   
		</ul>
		<!-- <script>
			$(function() {
				$('#left_menu li').on('click',function() {
					$(this).addClass('left_li_state_on').siblings().removeClass('left_li_state_on');
					$index = $(this).find('a').attr('data-id');
					if ($index == '1') {
						$('#main_bank').show();
						$('.main_explain').show();
					} else {
						$('#main_bank').hide();
						$('.main_explain').hide();
					}
				});
			});
		</script> -->
		<!--充值方式列表结束-->
		<div class="left_bottom"></div>
		<div class="right_bottom"></div>
		<script type="text/javascript">
			function toggle_more_pay_type(isclick){
				var cookie = getCookie('show_all_pay_type');
				if( cookie ){
					$('.left_li').show();
					$('.left_li_nosept').hide();
					setCookie('show_all_pay_type',1,30);
				}
				if( isclick ){
					setCookie('show_all_pay_type',1,30);
					$('.left_li').show();
					$('.left_li_nosept').hide();
				}
			}
			toggle_more_pay_type(0);
		</script>   
			<!--内容提示主体部分-->
			<block name="body"></block>
			<!--充值主体内容结束-->
		<div class="main2"></div>
    </div>
</div>
<div class="footer">
  <div class="wp clear">
    <div class="ft_box">
      <img src="{$logo}" alt="" width="154" height="55">
      拒绝不良游戏，拒绝盗版游戏。注意自我保护，谨防受骗上当。适度游戏益脑，沉迷游戏伤身。合理安排时间，享受健康生活。
    </div>
    <p>
      {:C('MT_SITE_B')}
      <a target="_blank">{:C('WEB_SITE_ICP')}</a><if condition="C('MT_SITE_LICENSE') neq ''">&nbsp;&nbsp;
      <a target="_blank">网络文化经营许可证编号：{:C('MT_SITE_LICENSE')}</a></if><br>
      投诉邮箱：{:C('MT_SITE_TEMAIL')}  纠纷处理方式：联系客服或依《用户协议》约定方式处理
    </p>
  </div>
</div>
</body></html>